# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Ambiente / segredos
.env
.venv/
venv/

# Django
*.log
db.sqlite3
/media/
/staticfiles/

# Tailwind
/static/css/output.css
/bin/tailwindcss

# Ferramentas
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Sistema operacional / editores
.DS_Store
.idea/
.vscode/
